name: "Quick Build and Release"

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          # Only build for x86 (amd64) for maximum speed as requested
          platforms: linux/amd64
          push: true
          # Hardcoded 'subweb' repo name and 'latest' tag as requested
          tags: ${{ secrets.DOCKER_USERNAME }}/subweb:latest
          # Enable GitHub Actions caching to speed up subsequent builds
          cache-from: type=gha
          cache-to: type=gha,mode=max
